<!DOCTYPE html>
<html>
<head>
  <title>Launch Journal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar grid-x">
      <div class="top-bar-left">
        <a class="site-title" href="/journals">Journals</a>
      </div>
    </div>

<% flash.each do |key, value| %>
  <%= value %>
<% end %>

<div class="main-body">

  <%= yield %>
</div>

</body>
</html>
